{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center><font face="Verdana" size="20"><h1>Welcome to BER-HELPER.NET!</h1></font></center>
    <center><img src="https://i.imgur.com/Dr8gUs2.png" alt="Hình ảnh trong HTML" style="width:30px;height:30px;"><marquee width="50%"><font size="+2" color="darkgray">This is a useful website for students majoring in Electronics and Telecoms</font></marquee>
    <img src="https://i.imgur.com/Dr8gUs2.png" alt="Hình ảnh trong HTML" style="width:30px;height:30px;">
</center>
    <br>
    <hr>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 50%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        width: 50%;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    </style>
    </head>
    <body>
    <center><button class="accordion"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">             Digital-telecoms modulation techniques</button>
    <div class="panel">
    <center><p align="justify">BPSK, DPSK, QAM and more are approaches we use to demostrate diagrams of BER and compute the value of BER so that it helps students to make comparisons between these methods.</center></p>
    </div></center>

    <center><button class="accordion"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">             Based on precise calculations</button>
    <div class="panel">
    <center><p align="justify">The equations which we used in this website are strictly selected on the internet. Speacially thanks to youtuber "nischay malhan" for these wonderful tutorials.</center></p>
    </div></center>

    <center><button class="accordion"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">             Including diagrams for each method</button>
    <div class="panel">
    <center><p align="justify">They are illustrated with colorful lines and explicit figures, which helps students distinguish the difference between these methods more cleary.</center></p>
    </div></center>

    <center><button class="accordion"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">             Having QnA area</button>
    <div class="panel">
    <center><p align="justify">This is a sanctuary of yourselves. "Having QnA area" is the place where you can ask anything about everything related to Electronics and Telecoms. You are always welcome here and we are always willing to answer your questions.</center></p>
    </div></center>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        } 
    });
    }
    </script>

    </body>
{% endblock %}
