 <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
             {% set user_link %}
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {% endset %}
            {{ _('%(username)s BER %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>