{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center><font face="Verdana" size="20"><h1>Welcome to BER-HELPER.NET!</h1></font></center>
    <center><img src="https://i.imgur.com/Dr8gUs2.png" alt="Hình ảnh trong HTML" style="width:30px;height:30px;"><marquee width="50%"><font size="+2" color="darkgray">This is a useful website for students majoring in Electronics and Telecoms</font></marquee>
    <img src="https://i.imgur.com/Dr8gUs2.png" alt="Hình ảnh trong HTML" style="width:30px;height:30px;">
</center>
    <br>
    <br>
    <center><p align="justify"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">                    Digital-telecoms modulation techniques</p></center>
    <center><p align="justify"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">                    Based on precise calculations</center></p>
    <center><p align="justify"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">                    Including diagrams for each method</center></p>
    <center><p align="justify"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">                    Having QnA area</center></p>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 50%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h2>Accordion with symbols</h2>
<p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
<center><button class="accordion"><img src="https://i.imgur.com/nEcf4t1.png" alt="Hình ảnh trong HTML" style="width:20px;height:20px;">Section 1</button>
<div class="panel">
  <center><p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</center></p>
</div></center>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
{% endblock %}
