{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1> This is a chart I just created! </h1>
    <br>
    <body>
    <img src="data:image/png;base64, {{ plot_url }}">
    </body>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    
{% endblock %}
